/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message.message--unread {
  border-left: 0.5px solid blue;
}

.message:first-child {
  opacity: 0.3;
}

.message__content {
  line-height: 3rem;
}
